.item {
  padding: 1rem;
  display: flex;
  background-color: #131317;
  color: #fff;
}

.itemHover:hover {
  background-color: rgba(152, 152, 152, 0.3);
}

.itemActive{
  background-color: rgba(255,255,255,.1);
}

.avatar {
  
}

.content {
  flex: 1;
  font-weight: 500;
  padding: 0 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .message {
    font-size: 12px;
    color: rgba(255,255,255, .8);
  }
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  
  span {
    color: #595966;
  }
}