.layoutApp {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #181a1e;
}

.sideBar {
  flex: 0.5;
  z-index: 2;
}

.menu {
  flex: 3;
  z-index: 1;
}

.container {
  flex: 8.5;
  z-index: 3;
}

@mixin animate($name, $duration, $timing_function, $fill_mode) {
  animation: $name $duration $timing_function $fill_mode;
}

@mixin keyframes($name, $startPoint, $endPoint) {
  @keyframes #{$name} {
    from {
      transform: translateX($startPoint);
    }

    to {
      transform: translateX($endPoint);
    }
  }
}

@media screen and (max-width: 600px) {
  .sideBar {
    flex: 1.5;
  }

  .menu {
    flex: 8.5;
  }

  .container {
    display: none;
  }

  .displayContainer {
    border-left: 1px solid rgb(70, 66, 66);
    transform: translateX(50px);
    display: block;
    @include keyframes(slide_in_container, 50px, 0);
    @include animate(slide_in_container, .3s, ease, forwards);
  }

  .unDisplayContainer {
    display: none;
  }

  .displayMenu {
    @include keyframes(slide_in_menu, -50px, 0);
    @include animate(slide_in_menu, .3s, ease, forwards);
  }

  .unDisplayMenu {
    display: none;
  }

}

@media screen and (max-width: 960px) and (min-width: 600px) {
  .sideBar {
    flex: 1;
  }

  .menu {
    flex: 4;
  }

  .container {
    flex: 7;
  }
}