.defaultContainer {
  height: 100%;
  background-color: #131317;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  
  .header {

  }
  
  .content {
    flex: 1;
    position: relative;
    overflow: auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column-reverse;
    &::-webkit-scrollbar {
      width: 0.5em;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #282a39;
      border-radius: 0.3125rem;
    }

    .topBlock {
      display: flex;
      justify-content: center;
    }

    .topBlock{
      padding: 1rem;
      .circleProcess {
        border: 4px solid #3f51b5; /* Light grey */
        border-top: 4px solid #f1f1f1; /* Blue */
        border-radius: 50%;
        width: 30px;
        height: 30px;
        top: calc((100% - 30px) / 2);
        left: 30%;
        animation: spin 1s linear infinite;
      }
    }
  
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  }

  .footer {
    padding: 0.625rem 1rem;
    background-color: rgba(0,0,0, .5);
    color: #fff;

    .inputMessage {
      display: flex;
      padding: 0.625rem 1rem;
      background-color: #212228;
      border-radius: 1rem;
    }

    input {
      flex: 1;
      width: 80px;
      padding: 0.3125rem;
      margin-left: 1rem;
      background-color: #212228;
      color: #fff;
      border: none;
      border-bottom: 2px solid #000;
      outline: none;
      transition: .1s;
    }

    input:focus {
      border-color: #3f51b5;
    }

    .tool {
      display: flex;
      align-items: center;
      .divide {
        width: 0.0625rem;
        height: 30px;
        margin: 0 0.3125rem;
        background-color: rgba(255,255,255, .1);
      }
    }

  }
}

.message_author {
  display: flex;
  color: #fff;
  justify-content: flex-end;
  padding: 0.625rem 0;
}

.message_other {
  display: flex;
  color: #fff;
  justify-content: flex-start;
  padding: 0.625rem 0;
}

.message {
  display: flex;
  flex-direction: column;
  padding-right: 0.625rem;
  .message_title {
    text-align: right;
    .time {
      font-size: 0.75rem;
      opacity: .5;
    }
    .name {
      font-weight: 700;
      margin-left: 0.625rem;
    }
  }
  .message_content{
    display: flex;
    justify-content: flex-end;
    .text {
      padding: 0.3125rem 1rem;
      background-color: #2295ff;
      border-radius: 1rem;
      border-top-right-radius: 0;
    }
  }
}

.addUserContainer {
  i {
    margin-right: 0.625rem;
  }
  .buttonGroup {
    text-align: center;
    .btnWaitAccept {
      width: 90%;
      height: 40px;
      color: #3f51b5;
      background-color: transparent;
      border: none;
      font-size: 20px;
    }
  
    .btnAdd {
      width: 90%;
      height: 40px;
      color: #fff;
      background-color:#3f51b5;
      border-radius: 0.3125rem;
      font-size: 20px;
      border: none;
      box-shadow: 0 0 5px 2px rgba(#3f51b5, .5);
      transition: .1s;
    }
  
    .btnAdd:active, .btnWaitAccept:active {
      transform: scale(.99);
      box-shadow: none;
    }
  }
}

.requestContainer {
  .buttonGroupRequest{
    text-align: center;
    .btnRefuse {
      width: 90%;
      height: 40px;
      color: #fff;
      background-color:#ba000d;
      margin: 0.625rem 0;
      border-radius: 0.3125rem;
      font-size: 20px;
      border: none;
      box-shadow: 0 0 5px 2px rgba(#ba000d, .5);
      transition: .1s;
    }
  
    .btnAccept {
      width: 90%;
      height: 40px;
      color: #fff;
      background-color:#3f51b5;
      margin: 0.625rem 0;
      border-radius: 0.3125rem;
      font-size: 20px;
      border: none;
      box-shadow: 0 0 5px 2px rgba(#3f51b5, .5);
      transition: .1s;
    }
  
    .btnAccept:active, .btnRefuse:active {
      transform: scale(.99);
      box-shadow: none;
    }
  }
}

.hr {
  margin: 0 1rem;
  padding: 0.03125rem 0;
  background-color: rgba(255,255,255, .1);
}