.defaultSideBar {
  height: 100%;
  background-color: #121216;
}
.sideBar {
  display: flex;
  flex-direction: column;
}

.topSideBar {
  flex: 1;
}

.centerSideBar {
  flex: 10;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > button {
    margin-bottom: 0.3125rem;
  }

}

.bottomSideBar {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}